#signin
  %h1 You can sign with any of the following services
  %ul.auth_services
    - %w(google twitter facebook linkedin).each do |service|
      %li(class="#{service}")= link_to image_tag("#{service}_128.png"), "/auth/#{service}"
