%li#menu-item-62.menu-item.menu-item-type-taxonomy.menu-item-object-category.menu-item-62
  %a(href="#{vertical_startups_path(vertical)}" class="#{'selected' if selected==vertical.slug}")
    =vertical.name
    #span.count= (vertical.startup_count)

