<p>Thank you for your registration to Helpers Hub.</p>
<p>
This email is to confirm your registration to Helpers Hub.  Your request is currently being reviewed by the administrators of this site.
</p>
<p>
You will be notified via email once a decision has been made about granting you access to Helpers Hub.
In the meantime you can click <here> to receive updates from us.
</p>
<p>
Thank you again for your registration to Helpers Hub.
</p>
<p>
The Helpers Hub team.<br/>
www.helpershub.com
</p>

