<p>Hi There,</p>
<p>Thank you for your registration to Helpers Hub.</p>
<p>This email is to confirm that your registration to Helpers Hub has been approved. 
Thank you again for participating with Helpers Hub.</p>

<p>
The Helpers Hub team.
<%=link_to "www.helpershub.com", "http://www.helpershub.com"%>
</p>

