<p>
Thank you for your registration to Helpers Hub.
</p>
<p>
This note is to inform you that, upon review, your request to participate in Helpers Hub has been declined. 
Administrators make every effort to ensure valid entrepreneurs, startups and contributors populate the community. If you feel our decision was made in error please contact <email>  for further information.
</p>
<p>
Thank you again for your interest in Helpers Hub.
</p>
<p>
The Helpers Hub team.
<%=link_to "www.helpershub.com","http://www.helpershub.com/" %>
</p>

