.user
  .avatar
    %img(src="#{user.avatar.thumb.url}")
  .details
    %span.name= "#{user.full_name} signed up on #{user.created_at.strftime('%d-%b-%Y %I:%M %p')}"
    =link_to :approve, approve_admin_user_path(user), :class=>"action_button", :method=>:post, :confirm=>"Are you sure?"
