.post-content
  =semantic_form_for @startup, :html=>{:enctype=>"multipart/form-data"} do |f|
    %h3.title Start Up
    = f.inputs do
      =f.input :name, :label=>"Name"
      =f.input :description, :as=>:text
      =f.input :address
      =f.input :vertical_ids, :as=>:select, :collection=>@verticals.collect(&:id), :label_method=>Proc.new{|c| Vertical.find(c).name}, :label=>"Focus"
      -unless @startup.logo.thumb.blank?
        %li.string.required
          %label Current Logo
          %img.current_logo(src="#{@startup.logo.thumb.url}")
      =f.input :logo, :as=>:file

    .page-separator
    %br.clear
    %h3.title On the Web
    = f.inputs do
      =f.input :url
      =f.input :twitter_id, :label=>"Twitter"
      =f.input :facebook_page, :label=>"Facebook Page"
    =f.buttons
