#main_area
  #main-tabs
    %ul#main-tabbed-area.clearfix
      %li.active
        %a{:href => ""}
          %span Recent
        %span.arrow
      %li
        %a{:href => ""}
          %span Popular
        %span.arrow
      %li
        %a{:href => ""}
          %span Unanswered
        %span.arrow
  / end #main-tabs
  .entry
    .entry-top
      .entry-content
        =render @startups
        %span.comment-number.unanswered
          %a{:href => "http://www.elegantthemes.com/preview/AskIt/?p=99#comment-wrap"} 0
        %h2.title
          %a{:href => "http://www.elegantthemes.com/preview/AskIt/?p=99"} How do you allow to post from frontend ?
        %span.quote
        %span.author
          \-
          %a{:href => "http://www.elegantthemes.com/preview/AskIt/?author=1959", :title => "Posts by gobi"} gobi
        .clear
        .tags
          %a{:href => "http://www.elegantthemes.com/preview/AskIt/?tag=fresh"}
            %span fresh
          %a{:href => "http://www.elegantthemes.com/preview/AskIt/?tag=tonton"}
            %span tonton
        / end .tags
      / end .entry-content
    / end .entry-top
  / end .entry
#sidebar
  #sidebar-bottom
    #sidebar-content
      .widget-button
        %a#call_to_action{:href => "http://www.elegantthemes.com/preview/AskIt/?page_id=54"}
          %span Submit a Question
=link_to "Create your startup", new_startup_path, :class=>"actionbutton", :id=>"call_to_action"
-content_for :secondary do
  =render :partial=>"secondary-nav"