#main_container
  .action_links
    -unless current_user.is_following?(@startup)
      =link_to "Follow Startup", follow_startup_path(@startup), :class=>"actionbutton", :id=>"follow_startup"
    -else
      =link_to "Unfollow Startup", unfollow_startup_path(@startup), :class=>"actionbutton", :id=>"unfollow_startup"
        
    - if current_user and @startup.owner==current_user
      =link_to "Edit Startup", edit_startup_path(@startup), :class=>"actionbutton", :id=>"edit_startup"
      =link_to "Delete Startup", startup_url(@startup),:method=>"delete", :confirm=>"Are you sure you want to delete your startup?", :class=>"actionbutton", :id=>"delete_startup"
  =render @startup
  .requests
    %h3.requests_list Listing requests
    .action_links
      =link_to "New Request", new_startup_request_path(@startup), :class=>"actionbutton"
    %hr
    =render @startup.requests
