.post
  %h3= link_to job.title, job
  %h5
    Posted by:
    =link_to job.startup.name, job.startup
    on #{job.created_at.strftime("%d %b %Y")}
  .applyDetails
    %a.apply{:href => "#"} apply
    =link_to "view details", job
  .orgLogo
    %img(src="#{job.startup.logo.thumb.url}")
  .projectDescription
    %p= shrink(job.description)
