.post
  %h3= link_to job.title, job
  %h5
    Posted by:
    =link_to job.startup.name, job.startup
    on #{job.created_at.strftime("%d %b %Y")}
  .applyDetails
    =link_to "apply",apply_job_path(job), :class=>"apply"
    =link_to "view details", job
  .orgLogo
    %img(src="#{job.startup.logo.thumb.url}")
  .projectDescription
    %p= shrink(job.description)
