#main_container
  #sub_header
    %h3 Thanks for expressing your interest in (#{@job.title})
  =semantic_form_for [@job,@job_application] do |f|
    %fieldset.inputs
      %ol
        =f.input :description,:as=>:text,:label=>"How do you think that you would help us?"
        =f.input :job_id, :as=>:hidden
    =f.buttons
