#main_container
  #sub_header
    %h3 Jobs
    =link_to 'New Job', new_job_path, :class=>"actionbutton", :id=>"new_job"
  =render @jobs
  #pagination
    #links
      =paginate @jobs
    - if @category or @job
      #view_all
        =link_to 'view all', jobs_path
