#main_container
  %h3.new_job_title Create a new job
  - if @startups.blank?
    %p.warn
      Please 
      =link_to "register your startup", new_startup_path
      before creating a job.
  -else
    =render :partial=>"form"
