/* line 1, ../../app/stylesheets/custom.sass */
#signed-in-as {
  position: absolute;
  right: 0;
  top: 0;
  text-align: right;
}
/* line 6, ../../app/stylesheets/custom.sass */
#signed-in-as strong {
  text-shadow: 0 1px 1px #666666;
  color: black;
}

/* line 11, ../../app/stylesheets/custom.sass */
ul#secondary-menu li {
  margin: 0 10px;
  padding: 0;
}
/* line 14, ../../app/stylesheets/custom.sass */
ul#secondary-menu .widget-comment-number {
  left: -15px;
  top: -3px;
}

/* line 19, ../../app/stylesheets/custom.sass */
.entry-content .author-inner {
  background: none;
}

/* line 22, ../../app/stylesheets/custom.sass */
#flash {
  position: absolute;
  top: 211px;
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  color: white;
}
