/* line 6, ../../app/stylesheets/formtastic_changes.sass */
form.formtastic fieldset ol li label {
  width: 22%;
  color: #303030;
  font-size: 20px;
  font-family: "Yanone Kaffeesatz", Arial, sans-serif;
}
/* line 11, ../../app/stylesheets/formtastic_changes.sass */
form.formtastic fieldset ol li input {
  margin: 5px 0;
  padding: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #aaaaaa;
  font-size: 14px;
}
/* line 17, ../../app/stylesheets/formtastic_changes.sass */
form.formtastic fieldset ol li textarea {
  font-size: 14px;
  padding: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #aaaaaa;
}
/* line 22, ../../app/stylesheets/formtastic_changes.sass */
form.formtastic fieldset ol li select {
  margin-top: 5px;
  padding: 4px;
  font-size: 14px;
}
/* line 26, ../../app/stylesheets/formtastic_changes.sass */
form.formtastic fieldset ol li p.inline-errors {
  margin: 0.5em 0 0 0;
}
/* line 28, ../../app/stylesheets/formtastic_changes.sass */
form.formtastic fieldset ol li p.inline-hints {
  margin: 0.5em 0 0 0;
}
/* line 31, ../../app/stylesheets/formtastic_changes.sass */
form.formtastic fieldset ol li.label-above-input label {
  width: 100%;
}
/* line 33, ../../app/stylesheets/formtastic_changes.sass */
form.formtastic fieldset ol li.label-above-input textarea {
  margin-top: 5px;
  margin-left: 20%;
}
/* line 36, ../../app/stylesheets/formtastic_changes.sass */
form.formtastic fieldset ol li.label-above-input input {
  margin-left: 20%;
}
/* line 39, ../../app/stylesheets/formtastic_changes.sass */
form.formtastic fieldset.buttons {
  padding-left: 0;
}

/* line 43, ../../app/stylesheets/formtastic_changes.sass */
#request_category_ids_input ol {
  width: 77%;
  padding-left: 22%;
}
/* line 46, ../../app/stylesheets/formtastic_changes.sass */
#request_category_ids_input ol li {
  width: 100%;
  float: left;
}
/* line 49, ../../app/stylesheets/formtastic_changes.sass */
#request_category_ids_input ol li label {
  width: 100%;
}

/* line 53, ../../app/stylesheets/formtastic_changes.sass */
#activate-request-form button {
  border: none;
  padding: 0;
  line-height: 59px;
  text-align: left;
}
