/* line 6, ../../app/stylesheets/formtastic_changes.sass */
form.formtastic fieldset ol li label {
  width: 100%;
  margin: 5px 0;
}
/* line 9, ../../app/stylesheets/formtastic_changes.sass */
form.formtastic fieldset ol li input {
  margin: 5px 0;
  padding: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #aaaaaa;
}
/* line 14, ../../app/stylesheets/formtastic_changes.sass */
form.formtastic fieldset ol li textarea {
  padding: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #aaaaaa;
}
/* line 18, ../../app/stylesheets/formtastic_changes.sass */
form.formtastic fieldset ol li p.inline-errors {
  margin: 0.5em 0 0 0;
}
/* line 20, ../../app/stylesheets/formtastic_changes.sass */
form.formtastic fieldset ol li p.inline-hints {
  margin: 0.5em 0 0 0;
  font-size: smaller;
}
/* line 23, ../../app/stylesheets/formtastic_changes.sass */
form.formtastic fieldset.buttons {
  padding-left: 0;
}
