/* http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain) */
/* line 5, ../../app/stylesheets/_reset.sass */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  behavior: url("../scripts/iepngfix.htc");
}

/* HTML5 display-role reset for older browsers */
/* line 16, ../../app/stylesheets/_reset.sass */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 19, ../../app/stylesheets/_reset.sass */
body {
  line-height: 1;
}

/* line 22, ../../app/stylesheets/_reset.sass */
ol, ul {
  list-style: none;
}

/* line 25, ../../app/stylesheets/_reset.sass */
blockquote, q {
  quotes: none;
}

/* line 29, ../../app/stylesheets/_reset.sass */
blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 34, ../../app/stylesheets/_reset.sass */
q:before, q:after {
  content: "";
  content: none;
}

/* line 38, ../../app/stylesheets/_reset.sass */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*========== FMONDRAGON STYLES ========== */
/* line 44, ../../app/stylesheets/_reset.sass */
body {
  background: #cddeeb;
  font-family: Helvetica, Arial, sans-serif;
  color: #666666;
}

/* line 1, ../../app/stylesheets/_signin.sass */
#signin {
  width: 970px;
  margin: 0px auto;
  position: relative;
  z-index: 2;
  background-color: white;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  -moz-box-shadow: 0px 0px 4px #999999;
  -webkit-box-shadow: 0px 0px 4px #999999;
  box-shadow: 0px 0px 4px #999999;
  padding: 20px 0;
}
/* line 14, ../../app/stylesheets/_signin.sass */
#signin h1 {
  color: #787979;
  text-align: center;
  font-size: x-large;
  font-weight: bold;
}
/* line 19, ../../app/stylesheets/_signin.sass */
#signin ul.auth_services {
  width: 582px;
  margin-left: 225px;
  margin-top: 20px;
}
/* line 24, ../../app/stylesheets/_signin.sass */
#signin ul.auth_services li {
  display: inline;
  margin: 0;
}
/* line 28, ../../app/stylesheets/_signin.sass */
#signin ul.auth_services li a img:hover {
  -moz-transform: rotate(-3deg);
  -webkit-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

/* line 2, ../../app/stylesheets/_startups.sass */
#main_container #create_startup {
  float: right;
}
/* line 4, ../../app/stylesheets/_startups.sass */
#main_container h1 {
  font-size: 24px;
  font-weight: bold;
  float: left;
}
/* line 8, ../../app/stylesheets/_startups.sass */
#main_container form {
  margin: 20px;
}
/* line 10, ../../app/stylesheets/_startups.sass */
#main_container form .current_logo {
  padding: 5px;
  border: 1px solid #cccccc;
  margin: 10px 0;
}
/* line 15, ../../app/stylesheets/_startups.sass */
#main_container .action_links {
  float: right;
  clear: both;
}
/* line 18, ../../app/stylesheets/_startups.sass */
#main_container .startup {
  float: left;
  clear: both;
  width: 100%;
  margin-top: 10px;
}
/* line 23, ../../app/stylesheets/_startups.sass */
#main_container .startup .logo {
  width: 55px;
  float: left;
  padding: 3px;
  border: 1px solid #cccccc;
}
/* line 28, ../../app/stylesheets/_startups.sass */
#main_container .startup .contents {
  float: left;
  width: 635px;
  margin: 0 10px;
}
/* line 32, ../../app/stylesheets/_startups.sass */
#main_container .startup .contents h3.name {
  font-weight: bold;
  font-size: 20px;
}
/* line 35, ../../app/stylesheets/_startups.sass */
#main_container .startup .contents h3.name a {
  text-decoration: none;
  color: #555555;
}
/* line 38, ../../app/stylesheets/_startups.sass */
#main_container .startup .contents .time {
  margin-top: 5px;
  font-size: smaller;
}
/* line 41, ../../app/stylesheets/_startups.sass */
#main_container .startup .contents p.description {
  float: left;
  margin: 10px 0;
}
/* line 45, ../../app/stylesheets/_startups.sass */
#main_container .requests {
  width: 100%;
  clear: both;
}
/* line 48, ../../app/stylesheets/_startups.sass */
#main_container .requests h3.requests_list {
  font-size: 20px;
  font-weight: bold;
  float: left;
}
/* line 52, ../../app/stylesheets/_startups.sass */
#main_container .requests .action_links {
  clear: none;
}
/* line 54, ../../app/stylesheets/_startups.sass */
#main_container .requests hr {
  width: 100%;
}

/*========== POST ========== */
/* line 5, ../../app/stylesheets/_requests.sass */
#main_container p.warn {
  margin: 18px;
  background-color: #ffffdd;
  padding: 10px;
  border: 1px solid #999933;
}
/* line 10, ../../app/stylesheets/_requests.sass */
#main_container h3.new_request_title {
  margin-left: 18px;
  font-size: 22px;
  font-weight: bold;
}
/* line 14, ../../app/stylesheets/_requests.sass */
#main_container #sub_header {
  float: left;
  width: 100%;
  clear: both;
}
/* line 18, ../../app/stylesheets/_requests.sass */
#main_container #sub_header h3 {
  float: left;
  font-size: 22px;
  font-weight: bold;
}
/* line 22, ../../app/stylesheets/_requests.sass */
#main_container #sub_header #new_request {
  float: right;
}
/* line 24, ../../app/stylesheets/_requests.sass */
#main_container #pagination {
  background: #a4c2db;
  float: left;
  clear: both;
  width: 100%;
  margin-left: -5px;
  padding: 6px;
}
/* line 31, ../../app/stylesheets/_requests.sass */
#main_container #pagination #links {
  float: left;
}
/* line 34, ../../app/stylesheets/_requests.sass */
#main_container #pagination #links .page a {
  float: left;
  padding: 0px 8px;
  margin-right: 9px;
  background: #e7e7e0;
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
  -o-border-radius: 14px;
  -ms-border-radius: 14px;
  -khtml-border-radius: 14px;
  border-radius: 14px;
  text-indent: -9999px;
  border: solid 1px #999999;
}
/* line 42, ../../app/stylesheets/_requests.sass */
#main_container #pagination #links .page a:hover {
  background: #ffdf7f;
}
/* line 44, ../../app/stylesheets/_requests.sass */
#main_container #pagination #links .page.current {
  float: left;
  padding: 0px 4px;
  margin-right: 9px;
  background: #ffdf7f;
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
  -o-border-radius: 14px;
  -ms-border-radius: 14px;
  -khtml-border-radius: 14px;
  border-radius: 14px;
  text-indent: -9999px;
  border: solid 1px #999999;
}
/* line 52, ../../app/stylesheets/_requests.sass */
#main_container #pagination #links .next {
  display: none;
}
/* line 54, ../../app/stylesheets/_requests.sass */
#main_container #pagination #links .last {
  display: none;
}
/* line 56, ../../app/stylesheets/_requests.sass */
#main_container #pagination #links .prev {
  display: none;
}
/* line 58, ../../app/stylesheets/_requests.sass */
#main_container #pagination #links .first {
  display: none;
}
/* line 60, ../../app/stylesheets/_requests.sass */
#main_container #pagination #view_all {
  float: right;
  margin-right: 10px;
}
/* line 63, ../../app/stylesheets/_requests.sass */
#main_container #pagination #view_all a {
  color: #eeeeee;
  font-size: smaller;
}

/* line 67, ../../app/stylesheets/_requests.sass */
.post {
  border-bottom: solid 1px #cccccc;
  padding: 20px 0px;
  float: left;
  width: 100%;
}

/* line 73, ../../app/stylesheets/_requests.sass */
.orgLogo {
  float: left;
  border: solid 1px #cccccc;
  margin-right: 10px;
}

/* line 79, ../../app/stylesheets/_requests.sass */
.post p {
  font-size: 12px;
  line-height: 15px;
  display: block;
  float: left;
  width: 550px;
}
/* line 85, ../../app/stylesheets/_requests.sass */
.post a {
  text-decoration: underline;
  color: #a4c2db;
}
/* line 88, ../../app/stylesheets/_requests.sass */
.post a:hover {
  border-bottom: dotted 1px #a4c2db;
}
/* line 90, ../../app/stylesheets/_requests.sass */
.post h3 {
  margin-left: 0;
}
/* line 92, ../../app/stylesheets/_requests.sass */
.post h3 a {
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  color: #666666;
}
/* line 97, ../../app/stylesheets/_requests.sass */
.post h3 a:hover {
  border: none;
}

/* line 100, ../../app/stylesheets/_requests.sass */
h5 {
  margin-top: 3px;
  margin-bottom: 10px;
  font-size: 12px;
}

/* line 105, ../../app/stylesheets/_requests.sass */
.applyDetails {
  float: right;
  width: 100px;
  text-align: center;
}
/* line 109, ../../app/stylesheets/_requests.sass */
.applyDetails a {
  font-size: 12px;
}

/* line 112, ../../app/stylesheets/_requests.sass */
a.apply {
  -moz-box-shadow: 0px 0px 4px #999999;
  -webkit-box-shadow: 0px 0px 4px #999999;
  box-shadow: 0px 0px 4px #999999;
  border: solid 3px white;
  padding: 10px;
  display: block;
  text-align: center;
  margin-bottom: 5px;
  line-height: 7px;
  -webkit-border-radius: 20px;
  -khtml-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: white;
  text-decoration: none;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#999999));
  background: -moz-linear-gradient(top, white, #999999);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#999999');
  font-weight: bold;
  font-size: 20px;
  text-shadow: #666666 2px 2px 0;
}
/* line 134, ../../app/stylesheets/_requests.sass */
a.apply:hover {
  border-bottom: solid 3px white;
  background: -webkit-gradient(linear, left top, left bottom, from(#999999), to(white));
  background: -moz-linear-gradient(top, #999999, white);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#999999', EndColorStr='#ffffff');
}

/* line 140, ../../app/stylesheets/_requests.sass */
.post h5 a {
  color: #666666;
}
/* line 142, ../../app/stylesheets/_requests.sass */
.post h5 a:hover {
  border-bottom-color: #666666;
}

/* line 2, ../../app/stylesheets/_profiles.sass */
#main_container h2 {
  font-size: 25px;
  margin-bottom: 20px;
  clear: both;
}
/* line 7, ../../app/stylesheets/_profiles.sass */
#main_container #not_activated img {
  float: left;
  padding: 5px;
  border: 1px solid #777777;
  margin-right: 20px;
  clear: left;
}
/* line 13, ../../app/stylesheets/_profiles.sass */
#main_container #not_activated p {
  float: right;
  clear: right;
  width: 560px;
  display: block;
}
/* line 19, ../../app/stylesheets/_profiles.sass */
#main_container #profile .profile_image {
  width: 130px;
  display: block;
  float: left;
  margin-top: 10px;
}

/*========== HEADER ========== */
/* line 12, ../../app/stylesheets/hhstyles.sass */
#header {
  border-top: solid 4px #333333;
  border-bottom: solid 4px white;
  background: url(/images/headerbg.gif) repeat-x left 0px;
}

/* line 17, ../../app/stylesheets/hhstyles.sass */
#headerInner {
  width: 970px;
  margin: 0px auto;
  background: url(/images/navBorder.png) repeat-y right top;
  overflow: hidden;
}

/* line 24, ../../app/stylesheets/hhstyles.sass */
#header ul {
  float: right;
  margin-right: 4px;
}
/* line 27, ../../app/stylesheets/hhstyles.sass */
#header ul li {
  float: left;
  width: 140px;
  text-align: center;
  background: url(/images/navBorder.png) repeat-y left top;
}
/* line 32, ../../app/stylesheets/hhstyles.sass */
#header ul li a {
  display: block;
  height: 52px;
  padding-top: 38px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: #666666;
  text-shadow: white 0 2px 0;
  margin-left: 4px;
}
/* line 42, ../../app/stylesheets/hhstyles.sass */
#header ul li a:hover, #header ul li a.selected {
  background: url(/images/navbg_over.gif) repeat-x left top;
  color: white;
  text-shadow: #666666 0 2px 0;
}
/* line 46, ../../app/stylesheets/hhstyles.sass */
#header #logo {
  float: left;
  width: 200px;
  background: none;
}
/* line 50, ../../app/stylesheets/hhstyles.sass */
#header #logo a {
  border: none;
  padding: 0px;
  margin: 0px;
}

/* line 55, ../../app/stylesheets/hhstyles.sass */
#logo span.logotext {
  position: absolute;
  top: -999px;
  left: -999px;
}

/*========== HUB ========== */
/* line 62, ../../app/stylesheets/hhstyles.sass */
#graybg {
  background: #e7e7e7;
  border-top: solid 1px #666666;
  padding-top: 20px;
}

/* line 67, ../../app/stylesheets/hhstyles.sass */
#signed_in_as {
  width: 970px;
  margin: 0 auto 20px;
  margin-bottom: 20px;
  overflow: hidden;
  text-align: right;
  font-size: 0.7em;
}

/* line 75, ../../app/stylesheets/hhstyles.sass */
#joinHelpersHub {
  width: 970px;
  margin: 0px auto 20px;
  overflow: hidden;
}
/* line 79, ../../app/stylesheets/hhstyles.sass */
#joinHelpersHub h2 {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* line 84, ../../app/stylesheets/hhstyles.sass */
#whyJoin {
  width: 680px;
  float: left;
  font-size: 15px;
  line-height: 21px;
}
/* line 89, ../../app/stylesheets/hhstyles.sass */
#whyJoin a {
  color: #666666;
  text-decoration: underline;
}
/* line 92, ../../app/stylesheets/hhstyles.sass */
#whyJoin a:hover {
  border-bottom: dotted 1px #666666;
}

/* line 95, ../../app/stylesheets/hhstyles.sass */
#joinButton {
  width: 250px;
  float: right;
  text-align: center;
  height: 97px;
  padding: 5px;
}

/* line 102, ../../app/stylesheets/hhstyles.sass */
#join {
  -moz-box-shadow: 0px 0px 4px #999999;
  -webkit-box-shadow: 0px 0px 4px #999999;
  box-shadow: 0px 0px 4px #999999;
  border: solid 3px white;
  padding: 10px 0px 0px 0px;
  display: block;
  text-align: center;
  margin: 0px 0px -30px;
  -webkit-border-radius: 60px;
  -khtml-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  color: white;
  text-decoration: none;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#999999));
  background: -moz-linear-gradient(top, white, #999999);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#999999');
  font-weight: bold;
  font-size: 50px;
  text-shadow: #666666 2px 2px 0;
  height: 80px;
}
/* line 124, ../../app/stylesheets/hhstyles.sass */
#join:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#999999), to(white));
  background: -moz-linear-gradient(top, #999999, white);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#999999', EndColorStr='#ffffff');
}

/* line 129, ../../app/stylesheets/hhstyles.sass */
#signIn {
  color: white;
  text-decoration: none;
  text-shadow: none;
}
/* line 133, ../../app/stylesheets/hhstyles.sass */
#signIn:hover {
  text-decoration: underline;
}

/*========== HUB ========== */
/* line 138, ../../app/stylesheets/hhstyles.sass */
#hubMainContainer {
  width: 700px;
  margin-right: 15px;
  float: right;
}

/* line 142, ../../app/stylesheets/hhstyles.sass */
#main_container {
  width: 720px;
  margin-top: 20px;
  float: left;
  border-left: 1px solid #777777;
}

/* line 147, ../../app/stylesheets/hhstyles.sass */
#hub {
  width: 970px;
  margin: 0px auto;
  position: relative;
  z-index: 2;
  background: white url(/images/hubLine.gif) repeat-y right top;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  -moz-box-shadow: 0px 0px 4px #999999;
  -webkit-box-shadow: 0px 0px 4px #999999;
  box-shadow: 0px 0px 4px #999999;
}

/*========== JQUERY NAV ========== */
/* line 161, ../../app/stylesheets/hhstyles.sass */
#nav {
  background: #a4c2db;
  clear: both;
  margin-left: 239px;
  width: 731px;
  webkit-border-bottom-right-radius: 4px;
  -khtml-border-radius-bottomright: 4px;
  -moz-border-radius-bottomright: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}

/* line 172, ../../app/stylesheets/hhstyles.sass */
ul#bullets {
  float: left;
  margin: 15px;
}
/* line 175, ../../app/stylesheets/hhstyles.sass */
ul#bullets li {
  display: inline;
}
/* line 177, ../../app/stylesheets/hhstyles.sass */
ul#bullets li a {
  float: left;
  padding: 0px 8px;
  margin-right: 9px;
  background: #e7e7e0;
  webkit-border-radius: 14px;
  -khtml-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
  text-indent: -9999px;
  border: solid 1px #999999;
}
/* line 188, ../../app/stylesheets/hhstyles.sass */
ul#bullets li a:hover {
  background: #ffdf7f;
}

/* line 191, ../../app/stylesheets/hhstyles.sass */
#viewAll {
  margin: 17px;
  float: right;
  font-size: 12px;
  color: white;
}
/* line 196, ../../app/stylesheets/hhstyles.sass */
#viewAll:hover {
  border-bottom: dotted 1px white;
}

/*========== SIDE NAV ========== */
/* line 201, ../../app/stylesheets/hhstyles.sass */
#sideNavContainer {
  width: 238px;
  float: left;
  margin: 20px 15px 20px -10px;
}

/* line 206, ../../app/stylesheets/hhstyles.sass */
#sideNav {
  width: 240px;
}
/* line 208, ../../app/stylesheets/hhstyles.sass */
#sideNav li {
  border-left: solid 1px #cccccc;
}
/* line 210, ../../app/stylesheets/hhstyles.sass */
#sideNav a {
  display: block;
  background: url(/images/sideNav.png) no-repeat right top;
  padding: 10px 10px 13px 22px;
  width: 190px;
  margin-bottom: 10px;
  text-decoration: none;
  color: white;
}
/* line 218, ../../app/stylesheets/hhstyles.sass */
#sideNav a:hover {
  background: url(/images/sideNav.png) no-repeat right bottom;
  color: #666666;
}
/* line 221, ../../app/stylesheets/hhstyles.sass */
#sideNav a.selected {
  background: url(/images/sideNav.png) no-repeat right center;
  color: #ffdf7f;
  width: 210px;
}

/* line 226, ../../app/stylesheets/hhstyles.sass */
.count {
  float: right;
  font-size: 12px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  -moz-border-radius: 10px;
  background: #eeeeee;
  padding: 3px 5px;
  color: #666666;
  text-shadow: white 1px 1px 0;
}

/* line 238, ../../app/stylesheets/hhstyles.sass */
#sideNav a:hover span, #sideNav a.selected span {
  background: #ffdf7f;
}

/*========== SEARCH FIELD ========== */
/* line 243, ../../app/stylesheets/hhstyles.sass */
li#search {
  background: url(/images/search.gif) no-repeat;
  padding: 8px 8px 5px;
  border: 0px 0px 0px 1px;
  overflow: hidden;
  margin-bottom: 10px;
}

/* line 251, ../../app/stylesheets/hhstyles.sass */
#sideNav input[type=text] {
  color: #999999;
  background: none;
  height: 20px;
  float: left;
  outline: none;
  border: none;
  padding: 9px 3px;
  width: 170px;
}
/* line 260, ../../app/stylesheets/hhstyles.sass */
#sideNav input[type=image] {
  float: right;
  border: none;
}

/*========== FOOTER ========== */
/* line 266, ../../app/stylesheets/hhstyles.sass */
#footer {
  background: #cddeeb;
  padding: 80px 0px 40px;
  margin-top: 0px;
  border-top: solid 4px white;
}

/* line 272, ../../app/stylesheets/hhstyles.sass */
#footerInner {
  width: 925px;
  margin: 0px auto;
  overflow: hidden;
}

/* line 277, ../../app/stylesheets/hhstyles.sass */
#footerOuter {
  border-top: solid 1px #666666;
  margin-top: -45px;
}

/* line 281, ../../app/stylesheets/hhstyles.sass */
.browse {
  text-shadow: white 2px 2px 0;
  width: 285px;
  float: left;
  margin: 0px 10px;
  overflow: hidden;
}
/* line 287, ../../app/stylesheets/hhstyles.sass */
.browse.startups {
  margin-left: 0px;
}
/* line 289, ../../app/stylesheets/hhstyles.sass */
.browse.helpers {
  margin: 0px 25px;
}
/* line 291, ../../app/stylesheets/hhstyles.sass */
.browse.sponsors {
  float: right;
  margin-right: 0px;
}

/* line 296, ../../app/stylesheets/hhstyles.sass */
#footer h4 {
  margin: 0px 10px 10px;
}
/* line 298, ../../app/stylesheets/hhstyles.sass */
#footer h4 a {
  color: #666666;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}
/* line 303, ../../app/stylesheets/hhstyles.sass */
#footer p {
  color: #666666;
  font-size: 12px;
  margin: 0px 10px 10px;
  line-height: 16px;
  height: 80px;
}
/* line 309, ../../app/stylesheets/hhstyles.sass */
#footer a.footerbutton {
  border: solid 3px white;
  background: yellow;
  padding: 5px 20px;
  display: block;
  text-align: center;
  margin: 0px 7px;
  -webkit-border-radius: 15px;
  -khtml-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  color: #666666;
  text-decoration: none;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#ffdf7f));
  background: -moz-linear-gradient(top, white, #ffdf7f);
  text-shadow: none;
  font-weight: bold;
}
/* line 326, ../../app/stylesheets/hhstyles.sass */
#footer a.footerbutton:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#ffdf7f), to(white));
  background: -moz-linear-gradient(top, #ffdf7f, white);
}

/*#footer a.footerbutton{
 *	background: url(../images/footerbutton.png) no-repeat center top;
 *	display: block;
 *	height: 35px;
 *	text-align: center;
 *	padding-top: 15px;
 *	text-decoration: none;
 *	text-shadow: none;
 *	color: #666666;
 *	font-weight: bold;
 *	behavior: url("../scripts/iepngfix.htc");
 *	} */
/* line 343, ../../app/stylesheets/hhstyles.sass */
#copyright {
  width: 925px;
  margin: 10px auto;
  font-size: 10px;
  overflow: visible;
  clear: both;
}
/* line 349, ../../app/stylesheets/hhstyles.sass */
#copyright span {
  float: left;
}

/* line 352, ../../app/stylesheets/hhstyles.sass */
#fmondragon {
  background: url(/images/fmondragon_logo.png) no-repeat center;
  text-indent: -99999px;
  overflow: hidden;
  float: right;
  height: 17px;
  width: 110px;
}

/* line 359, ../../app/stylesheets/hhstyles.sass */
#dharana {
  background: url(/images/dharana_logo_30px.png) no-repeat center;
  text-indent: -9999px;
  overflow: visible;
  float: right;
  height: 30px;
  width: 122px;
  margin-top: -6px;
  margin-right: 10px;
}

/* line 369, ../../app/stylesheets/hhstyles.sass */
#flash {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f4fc7c;
  text-align: center;
  color: #333333;
  padding: 10px;
  border-bottom: 1px solid #777777;
}
/* line 380, ../../app/stylesheets/hhstyles.sass */
#flash .dismiss {
  position: fixed;
  right: 10px;
  top: 5px;
  border: 1px solid #333333;
  padding: 2px 6px 4px;
  background-color: #333333;
}
/* line 387, ../../app/stylesheets/hhstyles.sass */
#flash .dismiss a {
  color: #f4fc7c;
  font-weight: bold;
  text-decoration: none;
  font-size: larger;
}

/* line 394, ../../app/stylesheets/hhstyles.sass */
.clear {
  clear: both;
}

/* line 397, ../../app/stylesheets/hhstyles.sass */
.actionbutton {
  background-color: #2b70bb;
  color: white;
  padding: 5px;
  display: block;
  float: left;
  text-decoration: none;
  font-weight: bold;
  margin: 2px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  text-shadow: #aaaaaa 1px 1px 1px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2b70bb), color-stop(100%, #29abe2));
  background-image: -webkit-linear-gradient(top, #2b70bb, #29abe2);
  background-image: -moz-linear-gradient(top, #2b70bb, #29abe2);
  background-image: -o-linear-gradient(top, #2b70bb, #29abe2);
  background-image: linear-gradient(top, #2b70bb, #29abe2);
}

/* line 410, ../../app/stylesheets/hhstyles.sass */
.actionbutton:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #29abe2), color-stop(100%, #2b70bb));
  background-image: -webkit-linear-gradient(top, #29abe2, #2b70bb);
  background-image: -moz-linear-gradient(top, #29abe2, #2b70bb);
  background-image: -o-linear-gradient(top, #29abe2, #2b70bb);
  background-image: linear-gradient(top, #29abe2, #2b70bb);
}
