/* http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain) */
/* line 5, ../../app/stylesheets/_reset.sass */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  behavior: url("../scripts/iepngfix.htc");
}

/* HTML5 display-role reset for older browsers */
/* line 16, ../../app/stylesheets/_reset.sass */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 19, ../../app/stylesheets/_reset.sass */
body {
  line-height: 1;
}

/* line 22, ../../app/stylesheets/_reset.sass */
ol, ul {
  list-style: none;
}

/* line 25, ../../app/stylesheets/_reset.sass */
blockquote, q {
  quotes: none;
}

/* line 29, ../../app/stylesheets/_reset.sass */
blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 34, ../../app/stylesheets/_reset.sass */
q:before, q:after {
  content: "";
  content: none;
}

/* line 38, ../../app/stylesheets/_reset.sass */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*========== FMONDRAGON STYLES ========== */
/* line 44, ../../app/stylesheets/_reset.sass */
body {
  background: #cddeeb;
  font-family: Helvetica, Arial, sans-serif;
  color: #666666;
}

/* line 1, ../../app/stylesheets/_signin.sass */
#signin {
  width: 970px;
  margin: 0px auto;
  position: relative;
  z-index: 2;
  background-color: white;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  -moz-box-shadow: 0px 0px 4px #999999;
  -webkit-box-shadow: 0px 0px 4px #999999;
  box-shadow: 0px 0px 4px #999999;
  padding: 20px 0;
}
/* line 14, ../../app/stylesheets/_signin.sass */
#signin h1 {
  color: #787979;
  text-align: center;
  font-size: x-large;
  font-weight: bold;
}
/* line 19, ../../app/stylesheets/_signin.sass */
#signin ul.auth_services {
  width: 582px;
  margin-left: 225px;
  margin-top: 20px;
}
/* line 24, ../../app/stylesheets/_signin.sass */
#signin ul.auth_services li {
  display: inline;
  margin: 0;
}
/* line 28, ../../app/stylesheets/_signin.sass */
#signin ul.auth_services li a img:hover {
  -moz-transform: rotate(-3deg);
  -webkit-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

/* line 2, ../../app/stylesheets/_startups.sass */
#main_container h1 {
  font-size: larger;
  font-weight: bold;
  margin-left: 20px;
}
/* line 6, ../../app/stylesheets/_startups.sass */
#main_container form {
  margin: 20px;
}
/* line 10, ../../app/stylesheets/_startups.sass */
#main_container .startup .logo {
  width: 100px;
  height: 100px;
  float: left;
}
/* line 14, ../../app/stylesheets/_startups.sass */
#main_container .startup h3.name {
  float: left;
  font-weight: bold;
  padding-top: 10px;
  font-size: 30px;
}
/* line 19, ../../app/stylesheets/_startups.sass */
#main_container .startup .time {
  margin-top: 5px;
  font-size: smaller;
}
/* line 22, ../../app/stylesheets/_startups.sass */
#main_container .startup p.description {
  float: left;
  clear: both;
  margin: 10px 0 0 100px;
}

/*========== HEADER ========== */
/* line 7, ../../app/stylesheets/hhstyles.sass */
#header {
  border-top: solid 4px #333333;
  border-bottom: solid 4px white;
  background: url(/images/headerbg.gif) repeat-x left 0px;
}

/* line 12, ../../app/stylesheets/hhstyles.sass */
#headerInner {
  width: 970px;
  margin: 0px auto;
  background: url(/images/navBorder.png) repeat-y right top;
  overflow: hidden;
}

/* line 19, ../../app/stylesheets/hhstyles.sass */
#header ul {
  float: right;
  margin-right: 4px;
}
/* line 22, ../../app/stylesheets/hhstyles.sass */
#header ul li {
  float: left;
  width: 140px;
  text-align: center;
  background: url(/images/navBorder.png) repeat-y left top;
}
/* line 27, ../../app/stylesheets/hhstyles.sass */
#header ul li a {
  display: block;
  height: 52px;
  padding-top: 38px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: #666666;
  text-shadow: white 0 2px 0;
  margin-left: 4px;
}
/* line 37, ../../app/stylesheets/hhstyles.sass */
#header ul li a:hover, #header ul li a.selected {
  background: url(/images/navbg_over.gif) repeat-x left top;
  color: white;
  text-shadow: #666666 0 2px 0;
}
/* line 41, ../../app/stylesheets/hhstyles.sass */
#header #logo {
  float: left;
  width: 200px;
  background: none;
}
/* line 45, ../../app/stylesheets/hhstyles.sass */
#header #logo a {
  border: none;
  padding: 0px;
  margin: 0px;
}

/* line 50, ../../app/stylesheets/hhstyles.sass */
#logo span.logotext {
  position: absolute;
  top: -999px;
  left: -999px;
}

/*========== HUB ========== */
/* line 57, ../../app/stylesheets/hhstyles.sass */
#graybg {
  background: #e7e7e7;
  border-top: solid 1px #666666;
  padding-top: 20px;
}

/* line 62, ../../app/stylesheets/hhstyles.sass */
#signed_in_as {
  width: 970px;
  margin: 0 auto 20px;
  margin-bottom: 20px;
  overflow: hidden;
  text-align: right;
  font-size: 0.7em;
}

/* line 70, ../../app/stylesheets/hhstyles.sass */
#joinHelpersHub {
  width: 970px;
  margin: 0px auto 20px;
  overflow: hidden;
}
/* line 74, ../../app/stylesheets/hhstyles.sass */
#joinHelpersHub h2 {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* line 79, ../../app/stylesheets/hhstyles.sass */
#whyJoin {
  width: 680px;
  float: left;
  font-size: 15px;
  line-height: 21px;
}
/* line 84, ../../app/stylesheets/hhstyles.sass */
#whyJoin a {
  color: #666666;
  text-decoration: underline;
}
/* line 87, ../../app/stylesheets/hhstyles.sass */
#whyJoin a:hover {
  border-bottom: dotted 1px #666666;
}

/* line 90, ../../app/stylesheets/hhstyles.sass */
#joinButton {
  width: 250px;
  float: right;
  text-align: center;
  height: 97px;
  padding: 5px;
}

/* line 97, ../../app/stylesheets/hhstyles.sass */
#join {
  -moz-box-shadow: 0px 0px 4px #999999;
  -webkit-box-shadow: 0px 0px 4px #999999;
  box-shadow: 0px 0px 4px #999999;
  border: solid 3px white;
  padding: 10px 0px 0px 0px;
  display: block;
  text-align: center;
  margin: 0px 0px -30px;
  -webkit-border-radius: 60px;
  -khtml-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  color: white;
  text-decoration: none;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#999999));
  background: -moz-linear-gradient(top, white, #999999);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#999999');
  font-weight: bold;
  font-size: 50px;
  text-shadow: #666666 2px 2px 0;
  height: 80px;
}
/* line 119, ../../app/stylesheets/hhstyles.sass */
#join:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#999999), to(white));
  background: -moz-linear-gradient(top, #999999, white);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#999999', EndColorStr='#ffffff');
}

/* line 124, ../../app/stylesheets/hhstyles.sass */
#signIn {
  color: white;
  text-decoration: none;
  text-shadow: none;
}
/* line 128, ../../app/stylesheets/hhstyles.sass */
#signIn:hover {
  text-decoration: underline;
}

/*========== HUB ========== */
/* line 133, ../../app/stylesheets/hhstyles.sass */
#hubMainContainer {
  width: 700px;
  margin-right: 15px;
  float: right;
}

/* line 137, ../../app/stylesheets/hhstyles.sass */
#main_container {
  width: 700px;
  margin-top: 20px;
  float: left;
}

/* line 141, ../../app/stylesheets/hhstyles.sass */
#hub {
  width: 970px;
  margin: 0px auto;
  position: relative;
  z-index: 2;
  background: white url(/images/hubLine.gif) repeat-y right top;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  -moz-box-shadow: 0px 0px 4px #999999;
  -webkit-box-shadow: 0px 0px 4px #999999;
  box-shadow: 0px 0px 4px #999999;
}

/*========== POST ========== */
/* line 156, ../../app/stylesheets/hhstyles.sass */
.post {
  border-bottom: solid 1px #cccccc;
  padding: 20px 0px;
}

/* line 160, ../../app/stylesheets/hhstyles.sass */
.orgLogo {
  float: left;
  border: solid 1px #cccccc;
  margin-right: 10px;
}

/* line 166, ../../app/stylesheets/hhstyles.sass */
.post p {
  font-size: 12px;
  width: 300px;
  line-height: 15px;
}
/* line 170, ../../app/stylesheets/hhstyles.sass */
.post a {
  text-decoration: underline;
  color: #a4c2db;
}
/* line 173, ../../app/stylesheets/hhstyles.sass */
.post a:hover {
  border-bottom: dotted 1px #a4c2db;
}
/* line 175, ../../app/stylesheets/hhstyles.sass */
.post h3 a {
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  color: #666666;
}
/* line 180, ../../app/stylesheets/hhstyles.sass */
.post h3 a:hover {
  border: none;
}

/* line 183, ../../app/stylesheets/hhstyles.sass */
h5 {
  margin-top: 3px;
  margin-bottom: 10px;
  font-size: 12px;
}

/* line 188, ../../app/stylesheets/hhstyles.sass */
.applyDetails {
  float: right;
  width: 100px;
  text-align: center;
}
/* line 192, ../../app/stylesheets/hhstyles.sass */
.applyDetails a {
  font-size: 12px;
}

/* line 195, ../../app/stylesheets/hhstyles.sass */
a.apply {
  -moz-box-shadow: 0px 0px 4px #999999;
  -webkit-box-shadow: 0px 0px 4px #999999;
  box-shadow: 0px 0px 4px #999999;
  border: solid 3px white;
  padding: 10px;
  display: block;
  text-align: center;
  margin-bottom: 5px;
  line-height: 7px;
  -webkit-border-radius: 20px;
  -khtml-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: white;
  text-decoration: none;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#999999));
  background: -moz-linear-gradient(top, white, #999999);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#999999');
  font-weight: bold;
  font-size: 20px;
  text-shadow: #666666 2px 2px 0;
}
/* line 217, ../../app/stylesheets/hhstyles.sass */
a.apply:hover {
  border-bottom: solid 3px white;
  background: -webkit-gradient(linear, left top, left bottom, from(#999999), to(white));
  background: -moz-linear-gradient(top, #999999, white);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#999999', EndColorStr='#ffffff');
}

/* line 223, ../../app/stylesheets/hhstyles.sass */
.post h5 a {
  color: #666666;
}
/* line 225, ../../app/stylesheets/hhstyles.sass */
.post h5 a:hover {
  border-bottom-color: #666666;
}

/*========== JQUERY NAV ========== */
/* line 230, ../../app/stylesheets/hhstyles.sass */
#nav {
  background: #a4c2db;
  clear: both;
  margin-left: 239px;
  width: 731px;
  webkit-border-bottom-right-radius: 4px;
  -khtml-border-radius-bottomright: 4px;
  -moz-border-radius-bottomright: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}

/* line 241, ../../app/stylesheets/hhstyles.sass */
ul#bullets {
  float: left;
  margin: 15px;
}
/* line 244, ../../app/stylesheets/hhstyles.sass */
ul#bullets li {
  display: inline;
}
/* line 246, ../../app/stylesheets/hhstyles.sass */
ul#bullets li a {
  float: left;
  padding: 0px 8px;
  margin-right: 9px;
  background: #e7e7e0;
  webkit-border-radius: 14px;
  -khtml-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
  text-indent: -9999px;
  border: solid 1px #999999;
}
/* line 257, ../../app/stylesheets/hhstyles.sass */
ul#bullets li a:hover {
  background: #ffdf7f;
}

/* line 260, ../../app/stylesheets/hhstyles.sass */
#viewAll {
  margin: 17px;
  float: right;
  font-size: 12px;
  color: white;
}
/* line 265, ../../app/stylesheets/hhstyles.sass */
#viewAll:hover {
  border-bottom: dotted 1px white;
}

/*========== SIDE NAV ========== */
/* line 270, ../../app/stylesheets/hhstyles.sass */
#sideNavContainer {
  width: 238px;
  float: left;
  margin: 20px 15px 20px -10px;
}

/* line 275, ../../app/stylesheets/hhstyles.sass */
#sideNav {
  width: 240px;
}
/* line 277, ../../app/stylesheets/hhstyles.sass */
#sideNav li {
  border-left: solid 1px #cccccc;
}
/* line 279, ../../app/stylesheets/hhstyles.sass */
#sideNav a {
  display: block;
  background: url(/images/sideNav.png) no-repeat right top;
  padding: 10px 10px 13px 22px;
  width: 190px;
  margin-bottom: 10px;
  text-decoration: none;
  color: white;
}
/* line 287, ../../app/stylesheets/hhstyles.sass */
#sideNav a:hover {
  background: url(/images/sideNav.png) no-repeat right bottom;
  color: #666666;
}
/* line 290, ../../app/stylesheets/hhstyles.sass */
#sideNav a.selected {
  background: url(/images/sideNav.png) no-repeat right center;
  color: #ffdf7f;
  width: 210px;
}

/* line 295, ../../app/stylesheets/hhstyles.sass */
.count {
  float: right;
  font-size: 12px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  -moz-border-radius: 10px;
  background: #eeeeee;
  padding: 3px 5px;
  color: #666666;
  text-shadow: white 1px 1px 0;
}

/* line 307, ../../app/stylesheets/hhstyles.sass */
#sideNav a:hover span, #sideNav a.selected span {
  background: #ffdf7f;
}

/*========== SEARCH FIELD ========== */
/* line 312, ../../app/stylesheets/hhstyles.sass */
li#search {
  background: url(/images/search.gif) no-repeat;
  padding: 8px 8px 5px;
  border: 0px 0px 0px 1px;
  overflow: hidden;
  margin-bottom: 10px;
}

/* line 320, ../../app/stylesheets/hhstyles.sass */
#sideNav input[type=text] {
  color: #999999;
  background: none;
  height: 20px;
  float: left;
  outline: none;
  border: none;
  padding: 9px 3px;
  width: 170px;
}
/* line 329, ../../app/stylesheets/hhstyles.sass */
#sideNav input[type=image] {
  float: right;
  border: none;
}

/*========== FOOTER ========== */
/* line 335, ../../app/stylesheets/hhstyles.sass */
#footer {
  background: #cddeeb;
  padding: 80px 0px 40px;
  margin-top: 0px;
  border-top: solid 4px white;
}

/* line 341, ../../app/stylesheets/hhstyles.sass */
#footerInner {
  width: 925px;
  margin: 0px auto;
  overflow: hidden;
}

/* line 346, ../../app/stylesheets/hhstyles.sass */
#footerOuter {
  border-top: solid 1px #666666;
  margin-top: -45px;
}

/* line 350, ../../app/stylesheets/hhstyles.sass */
.browse {
  text-shadow: white 2px 2px 0;
  width: 285px;
  float: left;
  margin: 0px 10px;
  overflow: hidden;
}
/* line 356, ../../app/stylesheets/hhstyles.sass */
.browse.startups {
  margin-left: 0px;
}
/* line 358, ../../app/stylesheets/hhstyles.sass */
.browse.helpers {
  margin: 0px 25px;
}
/* line 360, ../../app/stylesheets/hhstyles.sass */
.browse.sponsors {
  float: right;
  margin-right: 0px;
}

/* line 365, ../../app/stylesheets/hhstyles.sass */
#footer h4 {
  margin: 0px 10px 10px;
}
/* line 367, ../../app/stylesheets/hhstyles.sass */
#footer h4 a {
  color: #666666;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}
/* line 372, ../../app/stylesheets/hhstyles.sass */
#footer p {
  color: #666666;
  font-size: 12px;
  margin: 0px 10px 10px;
  line-height: 16px;
  height: 80px;
}
/* line 378, ../../app/stylesheets/hhstyles.sass */
#footer a.footerbutton {
  border: solid 3px white;
  background: yellow;
  padding: 5px 20px;
  display: block;
  text-align: center;
  margin: 0px 7px;
  -webkit-border-radius: 15px;
  -khtml-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  color: #666666;
  text-decoration: none;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#ffdf7f));
  background: -moz-linear-gradient(top, white, #ffdf7f);
  text-shadow: none;
  font-weight: bold;
}
/* line 395, ../../app/stylesheets/hhstyles.sass */
#footer a.footerbutton:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#ffdf7f), to(white));
  background: -moz-linear-gradient(top, #ffdf7f, white);
}

/*#footer a.footerbutton{
 *	background: url(../images/footerbutton.png) no-repeat center top;
 *	display: block;
 *	height: 35px;
 *	text-align: center;
 *	padding-top: 15px;
 *	text-decoration: none;
 *	text-shadow: none;
 *	color: #666666;
 *	font-weight: bold;
 *	behavior: url("../scripts/iepngfix.htc");
 *	} */
/* line 412, ../../app/stylesheets/hhstyles.sass */
#copyright {
  width: 925px;
  margin: 10px auto;
  font-size: 10px;
  overflow: hidden;
  clear: both;
}
/* line 418, ../../app/stylesheets/hhstyles.sass */
#copyright span {
  float: left;
}

/* line 421, ../../app/stylesheets/hhstyles.sass */
#fmondragon {
  background: url(/images/fmondragon_logo.png) no-repeat center;
  text-indent: -99999px;
  overflow: hidden;
  float: right;
  height: 17px;
  width: 110px;
}

/* line 429, ../../app/stylesheets/hhstyles.sass */
#flash {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f4fc7c;
  text-align: center;
  color: #333333;
  padding: 10px;
  border-bottom: 1px solid #777777;
}
/* line 440, ../../app/stylesheets/hhstyles.sass */
#flash .dismiss {
  position: fixed;
  right: 10px;
  top: 5px;
  border: 1px solid #333333;
  padding: 2px 6px 4px;
  background-color: #333333;
}
/* line 447, ../../app/stylesheets/hhstyles.sass */
#flash .dismiss a {
  color: #f4fc7c;
  font-weight: bold;
  text-decoration: none;
  font-size: larger;
}

/* line 454, ../../app/stylesheets/hhstyles.sass */
.clear {
  clear: both;
}
