/*
Syntax error: Undefined mixin 'rotate'.
        on line 29 of /Users/vagmi/work/dharanasoft/helpershub/app/stylesheets/_signin.sass, in `rotate'
        from line 29 of /Users/vagmi/work/dharanasoft/helpershub/app/stylesheets/_signin.sass
        from line 2 of /Users/vagmi/work/dharanasoft/helpershub/app/stylesheets/screen.sass

24:   overflow: hidden
25: 
26: #user_info
27:   background-color: #336699
28:   #user_info_inner
29:     width: 970px 
30:     margin: 0 auto
31:     text-align: right
32:     overflow: visible
33:     p
34:       float: right

Backtrace:
/Users/vagmi/work/dharanasoft/helpershub/app/stylesheets/_signin.sass:29:in `rotate'
/Users/vagmi/work/dharanasoft/helpershub/app/stylesheets/_signin.sass:29
/Users/vagmi/work/dharanasoft/helpershub/app/stylesheets/screen.sass:2
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/sass-3.1.1/lib/sass/tree/visitors/perform.rb:169:in `visit_mixin'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/sass-3.1.1/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/sass-3.1.1/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/sass-3.1.1/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/sass-3.1.1/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/sass-3.1.1/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/sass-3.1.1/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/sass-3.1.1/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/sass-3.1.1/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/sass-3.1.1/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/sass-3.1.1/lib/sass/tree/visitors/perform.rb:230:in `visit_rule'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/sass-3.1.1/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/sass-3.1.1/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/sass-3.1.1/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/sass-3.1.1/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/sass-3.1.1/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/sass-3.1.1/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/sass-3.1.1/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/sass-3.1.1/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/sass-3.1.1/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/sass-3.1.1/lib/sass/tree/visitors/perform.rb:230:in `visit_rule'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/sass-3.1.1/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/sass-3.1.1/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/sass-3.1.1/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/sass-3.1.1/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/sass-3.1.1/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/sass-3.1.1/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/sass-3.1.1/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/sass-3.1.1/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/sass-3.1.1/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/sass-3.1.1/lib/sass/tree/visitors/perform.rb:230:in `visit_rule'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/sass-3.1.1/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/sass-3.1.1/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/sass-3.1.1/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/sass-3.1.1/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/sass-3.1.1/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/sass-3.1.1/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/sass-3.1.1/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/sass-3.1.1/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/sass-3.1.1/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/sass-3.1.1/lib/sass/tree/visitors/perform.rb:230:in `visit_rule'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/sass-3.1.1/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/sass-3.1.1/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/sass-3.1.1/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/sass-3.1.1/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/sass-3.1.1/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/sass-3.1.1/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/sass-3.1.1/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/sass-3.1.1/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/sass-3.1.1/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/sass-3.1.1/lib/sass/tree/visitors/perform.rb:230:in `visit_rule'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/sass-3.1.1/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/sass-3.1.1/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/sass-3.1.1/lib/sass/tree/visitors/perform.rb:145:in `block in visit_import'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/sass-3.1.1/lib/sass/tree/visitors/perform.rb:145:in `map'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/sass-3.1.1/lib/sass/tree/visitors/perform.rb:145:in `visit_import'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/sass-3.1.1/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/sass-3.1.1/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/sass-3.1.1/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/sass-3.1.1/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/sass-3.1.1/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/sass-3.1.1/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/sass-3.1.1/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/sass-3.1.1/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/sass-3.1.1/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/sass-3.1.1/lib/sass/tree/visitors/perform.rb:47:in `visit_root'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/sass-3.1.1/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/sass-3.1.1/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/sass-3.1.1/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/sass-3.1.1/lib/sass/tree/root_node.rb:20:in `render'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/sass-3.1.1/lib/sass/engine.rb:291:in `_render'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/sass-3.1.1/lib/sass/engine.rb:239:in `block in render'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/sass-3.1.1/lib/sass/util.rb:298:in `silence_sass_warnings'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/sass-3.1.1/lib/sass/engine.rb:239:in `render'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/sass-3.1.1/lib/sass/plugin/compiler.rb:319:in `update_stylesheet'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/sass-3.1.1/lib/sass/plugin/compiler.rb:181:in `block (2 levels) in update_stylesheets'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/sass-3.1.1/lib/sass/plugin/compiler.rb:175:in `each'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/sass-3.1.1/lib/sass/plugin/compiler.rb:175:in `block in update_stylesheets'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/sass-3.1.1/lib/sass/plugin/compiler.rb:173:in `each'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/sass-3.1.1/lib/sass/plugin/compiler.rb:173:in `update_stylesheets'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/sass-3.1.1/lib/sass/plugin.rb:81:in `update_stylesheets'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/sass-3.1.1/lib/sass/plugin.rb:54:in `check_for_updates'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/sass-3.1.1/lib/sass/plugin/rack.rb:51:in `call'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/actionpack-3.0.6/lib/action_dispatch/middleware/best_standards_support.rb:17:in `call'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/actionpack-3.0.6/lib/action_dispatch/middleware/head.rb:14:in `call'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/rack-1.2.2/lib/rack/methodoverride.rb:24:in `call'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/actionpack-3.0.6/lib/action_dispatch/middleware/params_parser.rb:21:in `call'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/actionpack-3.0.6/lib/action_dispatch/middleware/flash.rb:182:in `call'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/actionpack-3.0.6/lib/action_dispatch/middleware/session/abstract_store.rb:149:in `call'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/actionpack-3.0.6/lib/action_dispatch/middleware/cookies.rb:302:in `call'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/actionpack-3.0.6/lib/action_dispatch/middleware/callbacks.rb:46:in `block in call'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/activesupport-3.0.6/lib/active_support/callbacks.rb:416:in `_run_call_callbacks'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/actionpack-3.0.6/lib/action_dispatch/middleware/callbacks.rb:44:in `call'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/rack-1.2.2/lib/rack/sendfile.rb:107:in `call'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/actionpack-3.0.6/lib/action_dispatch/middleware/remote_ip.rb:48:in `call'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/actionpack-3.0.6/lib/action_dispatch/middleware/show_exceptions.rb:47:in `call'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/railties-3.0.6/lib/rails/rack/logger.rb:13:in `call'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/rack-1.2.2/lib/rack/runtime.rb:17:in `call'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/activesupport-3.0.6/lib/active_support/cache/strategy/local_cache.rb:72:in `call'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/rack-1.2.2/lib/rack/lock.rb:11:in `block in call'
<internal:prelude>:10:in `synchronize'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/rack-1.2.2/lib/rack/lock.rb:11:in `call'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/actionpack-3.0.6/lib/action_dispatch/middleware/static.rb:30:in `call'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/railties-3.0.6/lib/rails/application.rb:168:in `call'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/railties-3.0.6/lib/rails/application.rb:77:in `method_missing'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/railties-3.0.6/lib/rails/rack/log_tailer.rb:14:in `call'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/rack-1.2.2/lib/rack/content_length.rb:13:in `call'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/rack-1.2.2/lib/rack/chunked.rb:15:in `call'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/thin-1.2.11/lib/thin/connection.rb:84:in `block in pre_process'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/thin-1.2.11/lib/thin/connection.rb:82:in `catch'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/thin-1.2.11/lib/thin/connection.rb:82:in `pre_process'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/thin-1.2.11/lib/thin/connection.rb:57:in `process'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/thin-1.2.11/lib/thin/connection.rb:42:in `receive_data'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/eventmachine-0.12.10/lib/eventmachine.rb:256:in `run_machine'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/eventmachine-0.12.10/lib/eventmachine.rb:256:in `run'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/thin-1.2.11/lib/thin/backends/base.rb:61:in `start'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/thin-1.2.11/lib/thin/server.rb:159:in `start'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/rack-1.2.2/lib/rack/handler/thin.rb:14:in `run'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/rack-1.2.2/lib/rack/server.rb:213:in `start'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/railties-3.0.6/lib/rails/commands/server.rb:65:in `start'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/railties-3.0.6/lib/rails/commands.rb:30:in `block in <top (required)>'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/railties-3.0.6/lib/rails/commands.rb:27:in `tap'
/Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/railties-3.0.6/lib/rails/commands.rb:27:in `<top (required)>'
script/rails:6:in `require'
script/rails:6:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'rotate'.\A         on line 29 of /Users/vagmi/work/dharanasoft/helpershub/app/stylesheets/_signin.sass, in `rotate'\A         from line 29 of /Users/vagmi/work/dharanasoft/helpershub/app/stylesheets/_signin.sass\A         from line 2 of /Users/vagmi/work/dharanasoft/helpershub/app/stylesheets/screen.sass\A \A 24:   overflow: hidden\A 25: \A 26: #user_info\A 27:   background-color: #336699\A 28:   #user_info_inner\A 29:     width: 970px \A 30:     margin: 0 auto\A 31:     text-align: right\A 32:     overflow: visible\A 33:     p\A 34:       float: right"; }
