@import "compass/css3/border-radius"
form.formtastic
  fieldset
    ol
      li
        label
          width: 22%
          color: #303030
          font-size: 20px
          font-family: 'Yanone Kaffeesatz', Arial, sans-serif
        input
          margin: 5px 0
          padding: 5px
          +border-radius(5px)
          border: 1px solid #aaa
          font-size: 14px
        textarea
          font-size: 14px
          padding: 5px
          +border-radius(5px)
          border: 1px solid #aaa
        select
          margin-top: 5px
          padding: 4px
          font-size: 14px
        p.inline-errors
          margin: 0.5em 0 0 0
        p.inline-hints
          margin: 0.5em 0 0 0
      li.label-above-input
        label
          width: 100%
        textarea
          margin-top: 5px
          margin-left: 20%
        input
          margin-left: 20%

  fieldset.buttons
    padding-left: 0

#request_category_ids_input
  ol
    width: 77%
    padding-left: 22%
    li
      width: 100%
      float: left
      label
        width: 100%