#hubMainContainer
  .post
    %h3
      %a{:href => "#"} Posting title ellentesque dapibus sodales enim.
    %h5
      Posted by:
      %a{:href => "#"} Fmondragon Creative Studio
      on Tuesday April 26, 2011
    .applyDetails
      %a.apply{:href => "#"} apply
      %a{:href => "#"} view details
    .orgLogo
      %img{:src => "images/orgLogo_fmcs.gif"}/
    .projectDescription
      %p
        Lorem ipsum dolor sit amet,
        %a{:href => "#"} consectetuer
        adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus etma.
  .post
    %h3
      %a{:href => "#"} Aliquam ultrices scelerisque sem.
    %h5
      Posted by:
      %a{:href => "#"} Helper's Hub
      on Tuesday April 26, 2011
    .applyDetails
      %a.apply{:href => "#"} apply
      %a{:href => "#"} view details
    .orgLogo
      %img{:src => "images/orgLogo_hh.gif"}/
    .projectDescription
      %p
        Lorem ipsum dolor sit amet,
        %a{:href => "#"} consectetuer
        adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus etma.
  .post
    %h3
      %a{:href => "#"} Suspendisse id velit vitae ligula volutpat condimentum.
    %h5
      Posted by:
      %a{:href => "#"} Excelerate Labs
      on Tuesday April 26, 2011
    .applyDetails
      %a.apply{:href => "#"} apply
      %a{:href => "#"} view details
    .orgLogo
      %img{:src => "images/orgLogo_exc.gif"}/
    .projectDescription
      %p
        Lorem ipsum dolor sit amet,
        %a{:href => "#"} consectetuer
        adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus etma.
#nav
  %ul#bullets
    %li
      %a{:href => "#"} 1
    %li
      %a{:href => "#"} 2
    %li
      %a{:href => "#"} 3
    %li
      %a{:href => "#"} 4
  %a#viewAll{:href => "#"} view all
-content_for :secondary do
  %li.category
    Stuff1
