#hub
  %h1 Hello Content
#footer
  #footerInner
    .browse.volunteers
      %h4
        %a{:href => "#"} Browse through Helper's Hub Volunteers
      %p Proin at eros non eros adipiscing mollis. Donec semper turpis sed diam. Sed consequat ligula nec tortor. Integer eget sem. Register as a volunteer.
      %a.footerbutton{:href => "#"} browse volunteers
    .browse.volunteers
      %h4
        %a{:href => "#"} Browse through Helper's Hub Volunteers
      %p Proin at eros non eros adipiscing mollis. Donec semper turpis sed diam. Sed consequat ligula nec tortor. Integer eget sem. Register as a volunteer.
      %a.footerbutton{:href => "#"} browse volunteers
    .browse.volunteers
      %h4
        %a{:href => "#"} Browse through Helper's Hub Volunteers
      %p Proin at eros non eros adipiscing mollis. Donec semper turpis sed diam. Sed consequat ligula nec tortor. Integer eget sem. Register as a volunteer.
      %a.footerbutton{:href => "#"} browse volunteers
