.post-content
  #register-form
  =semantic_form_for @request do |f|
    %fieldset.inputs
      %ol
        .title
        %h2
          Start Up
        =f.input :title
        =f.input :description, :as=>:text
        =f.input :category_ids, :as=>:check_boxes, :collection=>@categories.collect(&:id), :label_method=>Proc.new{|c| Category.find(c).name}, :label=>"Categories"
        .clear
        .page-separator
        .title
          %h2
            Relevant Dates
        =f.input :start_date, :input_html=>{:class=>"date",:value=>@request.start_date.strftime("%d %b %Y")}
        =f.input :end_date, :input_html=>{:class=>"date",:value=>@request.end_date.strftime("%d %b %Y")}
        .clear
        .page-separator
        .title
          %h2
            Other Informations
        =f.input :location
        =f.input :startup_id,:as=>:select, :collection=>@startups
    =f.buttons

.post-content
  #register-form
    =semantic_form_for @startup, :html=>{:enctype=>"multipart/form-data"} do |f|
      %fieldset.inputs
        %ol
          .title
            %h2
              Start Up
          =f.input :name, :label=>"Name"
          =f.input :description, :as=>:text
          =f.input :address
          =f.input :vertical_ids, :as=>:select, :collection=>@verticals.collect(&:id), :label_method=>Proc.new{|c| Vertical.find(c).name}, :label=>"Focus"
          -unless @startup.logo.thumb.blank?
            %p Current Logo
            %img.current_logo(src="#{@startup.logo.thumb.url}")
          =f.input :logo, :as=>:file
          .clear
          .page-separator
          .title
            %h2
              On the Web
          =f.input :url
          =f.input :twitter_id, :label=>"Twitter"
          =f.input :facebook_page, :label=>"Facebook Page"
      =f.buttons
