.entry.page
  .entry-top
    .entry-content
      %h2.title Edit Request
      .page-separator
      .clear
        =render :partial=>"form"

-content_for :secondary do
  =render :partial=>"secondary-nav"
