= content_for :sidebar do
  .widget-button
    = link_to new_request_path, :class=>"actionbutton", :id=>"call_to_action" do
      %span New Request

= render :partial => 'layouts/utils/main_area_tabs'

#main-recent
  - if @category or @request
    #view_all
      =link_to requests_path, :class => 'small-button smallteal' do
        %span view all
    .clear
  =render @requests
  .clear
  =paginate @requests