#main_container
  - if current_user==@request.owner
    .action_buttons
      =link_to "Edit request", edit_request_path(@request), :class=>"actionbutton"
  =render @request
  .commitments
    %h3 Showing Commitments
    =render @request.commitments
  .comments
    %h3 Comments
    =render @comments
    - @comment = @request.comments.build
    =render :partial=>"comments/form"
