- if current_user==@request.owner
  = content_for :sidebar do
    .widget-button
      = link_to edit_request_path(@request), :class=>"actionbutton", :id=>"call_to_action" do
        %span Edit Request

=render @request

- if @request.commitments.present?
  #comment-wrap
    %h3#comments Commitments
    =render @request.commitments
    - @commitment = @request.commitments.build
    %h3#commitments How do you think you'd help?
    = render :partial => "commit_form"

.clear
#comment-wrap
  - if @comments.present?
    %h3#comments Comments
    - @comments.each do |comment|
      %ol.commentlist.clearfix
        %li= render comment

  - @comment = @request.comments.build
  =render :partial=>"comments/form"
