#breadcrumbs
%h3
  About Us
%p
  Posting title ellentesque dapibus sodales enim.
-content_for :secondary do
  %ul#secondary-menu.nav.clearfix
    %li.menu-item(class="#{'current-menu-item'}")
      =link_to "How It Works", page_path(:id=>"howitworks")
    %li.menu-item(class="#{'current-menu-item'}")
      =link_to "FAQs", page_path(:id=>"faq")
    %li.menu-item(class="#{'current-menu-item'}")
      =link_to "Terms of Service", page_path(:id=>"terms")
    %li.menu-item(class="#{'current-menu-item'}")
      =link_to "Privacy", page_path(:id=>"privacy")
