#anticipate-slider
  #anticipate-slider-top
    %a#anticipate-left-arrow{:href => "#"} Previous
    %a#anticipate-right-arrow{:href => "#"} Next
    #anticipate-slider-content
      .anticipate-slide
        .anticipate-quote
          .anticipate-quote-bottom
            %h2
              Why FI's HelpersHub?
            %p
              %h3 This is the place where entrepreneurs, local business heads, support groups and civic minded volunteers converge.
          / end .anticipate-quote-bottom
        / end .anticipate-quote
      / end .anticipate-slide
      .anticipate-slide
        .anticipate-quote
          .anticipate-quote-bottom
            %h2
              Startups
            %p
              Are you an early stage entrepreneur working on the next Big Thing?  Profile your innovation.  Ask for help.  Reach your milestone.  Repeat.  Then, commit to giving back once you’ve made your millions.
          / end .anticipate-quote-bottom
        / end .anticipate-quote
      / end .anticipate-slide
      .anticipate-slide
        .anticipate-quote
          .anticipate-quote-bottom
            %h2
              Mentors or Contributors
            %p
              Are you an expert in your field interested in doing some good to help the latest innovations?  Profile your expertise.  Contribute to things and people that interest you.  Do some good.  Your work won’t go unnoticed.
          / end .anticipate-quote-bottom
        / end .anticipate-quote
      / end .anticipate-slide
  / end #anticipate-slider-top
