#copyright
  %a#fmondragon{:href => "http://www.fmondragon.com"} Fmondragon Creative Studio
  %span Copyright © 2011 Helper's Hub. All rights reserved. | Privacy | PolicyAbout Our AdsSafety | Terms of Service | Copyright/IP Policy
