#footer
  #footerInner
    .browse.startups
      %h4
        %a{:href => "#"} Helper's Hub
      %p Proin at eros non eros adipiscing mollis. Donec semper turpis sed diam. Sed consequat ligula nec tortor. Integer eget sem. Register as a volunteer.
      %a.footerbutton{:href => "#"} view start-up
    .browse.helpers
      %h4
        %a{:href => "#"} Fmondragon Creative Studio
      %p Proin at eros non eros adipiscing mollis. Donec semper turpis sed diam. Sed consequat ligula nec tortor. Integer eget sem. Register as a volunteer.
      %a.footerbutton{:href => "#"} view helper
    .browse.sponsors
      %h4
        %a{:href => "#"} ExcelerateLabs.com
      %p Proin at eros non eros adipiscing mollis. Donec semper turpis sed diam. Sed consequat ligula nec tortor. Integer eget sem. Register as a volunteer.
      %a.footerbutton{:href => "#"} view sponsor