#footer
  #footer-content
    .container.clearfix
      #linkcat-2.footer-widget.widget_links
        %h4.widgettitle
          Blogroll
        %ul.xoxo.blogroll
          %li
            %a{:href => "http://codex.wordpress.org/"} Documentation
          %li
            %a{:href => "http://wordpress.org/extend/plugins/"} Plugins
          %li
            %a{:href => "http://wordpress.org/extend/ideas/"} Suggest Ideas
          %li
            %a{:href => "http://wordpress.org/support/"} Support Forum
          %li
            %a{:href => "http://wordpress.org/extend/themes/"} Themes
          %li
            %a{:href => "http://wordpress.org/news/"} WordPress Blog
          %li
            %a{:href => "http://planet.wordpress.org/"} WordPress Planet
      / end .footer-widget
      #meta-2.footer-widget.widget_meta
        %h4.widgettitle
          Meta
        %ul
          %li
            %a{:href => "http://www.elegantthemes.com/preview/AskIt/wp-login.php?action=register"}
              Register
          %li
            %a{:href => "http://www.elegantthemes.com/preview/AskIt/wp-login.php"} Log in
          %li
            %a{:href => "http://www.elegantthemes.com/preview/AskIt/?feed=rss2", :title => "Syndicate this site using RSS 2.0"}
              Entries
              %abbr{:title => "Really Simple Syndication"}
                RSS
          %li
            %a{:href => "http://www.elegantthemes.com/preview/AskIt/?feed=comments-rss2", :title => "The latest comments to all posts in RSS"}
              Comments
              %abbr{:title => "Really Simple Syndication"}
                RSS
          %li
            %a{:href => "http://wordpress.org/", :title => "Powered by WordPress, state-of-the-art semantic personal publishing platform."}
              WordPress.org
      / end .footer-widget
      #recent-posts-2.footer-widget.widget_recent_entries
        %h4.widgettitle
          Recent Posts
        %ul
          %li
            %a{:href => "http://www.elegantthemes.com/preview/AskIt/?p=99", :title => "How do you allow to post from frontend ?"}
              How do you allow to post from frontend ?
          %li
            %a{:href => "http://www.elegantthemes.com/preview/AskIt/?p=26", :title => "What\u2019s the benefit of purchasing LED TV\u2019s?"}
              Whatís the benefit of purchasing LED TVís?
          %li
            %a{:href => "http://www.elegantthemes.com/preview/AskIt/?p=24", :title => "Are Mac computers better for novice users than Windows systems?"}
              Are Mac computers better for novice users than Windows systems?
          %li
            %a{:href => "http://www.elegantthemes.com/preview/AskIt/?p=34", :title => "How do you I add thumbnails to my post using the Thumbnail custom field?"}
              How do you I add thumbnails to my post using the Thumbnail custom field?
          %li
            %a{:href => "http://www.elegantthemes.com/preview/AskIt/?p=22", :title => "Where is the best place to learn about the candidates in the upcoming election?"}
              Where is the best place to learn about the candidates in the upcoming election?
      / end .footer-widget
      #recent-comments-2.footer-widget.widget_recent_comments
        %h4.widgettitle
          Recent Comments
        %ul#recentcomments
          %li.recentcomments
            %a.url{:href => "http://wbloo.com", :rel => "external nofollow"}
              Paco
            on
            %a{:href => "http://www.elegantthemes.com/preview/AskIt/?p=41#comment-228"}
              Does
              anyone know where to purchase the most affordable solar panels?
          %li.recentcomments
            %a.url{:href => "http://finkaboutit.com", :rel => "external nofollow"} Alex
            on
            %a{:href => "http://www.elegantthemes.com/preview/AskIt/?p=26#comment-192"}
              Whatís
              the benefit of purchasing LED TVís?
          %li.recentcomments
            %a.url{:href => "http://finkaboutit.com", :rel => "external nofollow"} Alex
            on
            %a{:href => "http://www.elegantthemes.com/preview/AskIt/?p=37#comment-190"}
              Who killed the electric car?
          %li.recentcomments
            %a.url{:href => "http://www.stephennesbittphotography.com", :rel => "external nofollow"} Stephen Nesbitt
            on
            %a{:href => "http://www.elegantthemes.com/preview/AskIt/?p=24#comment-175"}
              Are Mac computers better for novice users than Windows systems?
          %li.recentcomments
            %a.url{:href => "http://www.anabel.be/web", :rel => "external nofollow"} Anabel
            on
            %a{:href => "http://www.elegantthemes.com/preview/AskIt/?p=34#comment-143"}
              How do you
              I add thumbnails to my post using the Thumbnail custom field?
      / end .footer-widget
    / end .container
    #footer-bottom
      .container.clearfix
        %ul#footer-menu.bottom-nav
          %li#menu-item-57.menu-item.menu-item-type-custom.menu-item-object-custom.current-menu-item.current_page_item.menu-item-home.menu-item-57
            %a{:href => "http://www.elegantthemes.com/preview/AskIt/"} Home
          %li#menu-item-50.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-50
            %a{:href => "http://www.elegantthemes.com/preview/AskIt/?page_id=48"} About
          %li#menu-item-89.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-89
            %a{:href => "http://www.elegantthemes.com/preview/AskIt/?page_id=87"} Shortcodes
          %li#menu-item-56.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-56
            %a{:href => "http://www.elegantthemes.com/preview/AskIt/?page_id=54"} Submit
        %p#copyright
          Designed by
          %a{:href => "http://www.elegantthemes.com", :title => "Elegant Themes"} Elegant Themes
          | Powered by
          %a{:href => "http://www.wordpress.org"} WordPress
      / end .container
    / end #footer-bottom
  / end #footer-content