#header
  #header-inner
    .container
      %a{:href => "#{root_path}"}
        %img{:alt => "Helper's Hub Logo", :src => "/images/helpers_hub_logo.png"}/
        /%span.logotext Helper's Hub
      %p#signed-in-as
        - if current_user
          %strong
            You are currently signed in as
          %strong
            =link_to current_user.full_name,profile_path
          %br
          %strong
            Not you?
          %strong
            =link_to "Sign out", signout_path
      = render :partial => 'layouts/utils/nav_primary'
    / end .container
  / end #header-inner
/ end #header

= render :partial => 'layouts/header-bottom'