!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Helper's Hub | Welcome
    =stylesheet_link_tag "hhstyles", "formtastic", "formtastic_changes"
    =stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/themes/base/jquery-ui.css"
    /[if lt IE 7.]
      <script defer type="text/javascript" src="scripts/pngfix.js"></script>
  %body
    =render :partial => '/layouts/header'
    #graybg
      - if not current_user
        #joinHelpersHub
          #whyJoin
            %h2 Why you should join Helper's Hub.
            %p This is the place where entrepreneurs, local business heads, support groups and civic minded volunteers converge. 
          #joinButton
            //%a#join{:href => "join"} Join
            //%a#signIn{:href => "signIn"} Sign In
            =link_to "Join", signin_path, :id=>"join"
            =link_to "Sign In", signin_path, :id=>"signIn"
      -else
        #signed_in_as
          You are currently signed in as 
          =link_to current_user.full_name,profile_path
          \. Not you? 
          =link_to "Sign out", signout_path
      #hub
        #sideNavContainer
          %ul#sideNav
            %li#search
              %form
                %input{:type => "text", :value => "search"}/
                %input{:src => "/images/searchButton.gif", :type => "image", :value => "GO"}/
            -if yield(:sidebar).blank?
              =render :partial=>"welcome/categories_sidebar" 
            -else
              =yield :sidebar
        =yield
        .clear
      #footerOuter
        =render :partial => '/layouts/footer'
    #copyrightOuter
      =render :partial => '/layouts/copyright'
    -if flash[:notice]
      #flash
        =flash[:notice]
        %span.dismiss
          %a(href="#" title="Click here to dismiss") x
    =javascript_include_tag "jquery.min.js", "rails.js","https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.js","application.js"
