!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Helper's Hub | Welcome
    =stylesheet_link_tag "hhstyles", "formtastic", "formtastic_changes"
    =stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/themes/base/jquery-ui.css"
    /[if lt IE 7.]
      <script defer type="text/javascript" src="scripts/pngfix.js"></script>
  %body
    #header
      #headerInner
        %h1#logo
          %a{:href => "#{root_path}"}
            %img{:alt => "Helper's Hub Logo", :src => "/images/helpers_hub_logo.png"}/
            %span.logotext Helper's Hub
        %ul
          %li
            %a.selected{:href => "#{jobs_path}"} Jobs
          %li
            %a{:href => "#"} Volunteers
          %li
            %a{:href => "#"} Startups
          %li
            %a{:href => "#"} About Us
    #graybg
      - if not current_user
        #joinHelpersHub
          #whyJoin
            %h2 Why you should join Helper's Hub.
            %p
              Proin at eros non eros adipiscing mollis. Donec semper turpis sed diam. Sed consequat ligula nec tortor. Integer eget sem. Ut vitae
              %a{:href => "#"} enim eu est
              vehicula gravida. Morbi ipsum ipsum, porta nec, tempor id, auctor vitae, purus. Pellentesque neque.
          #joinButton
            //%a#join{:href => "join"} Join
            //%a#signIn{:href => "signIn"} Sign In
            =link_to "Join", signin_path, :id=>"join"
            =link_to "Sign In", signin_path, :id=>"signIn"
      -else
        #signed_in_as
          You are currently signed in as #{current_user.full_name}. Not you? 
          =link_to "Sign out", signout_path
      #hub
        #sideNavContainer
          %ul#sideNav
            %li#search
              %form
                %input{:type => "text", :value => "search"}/
                %input{:src => "/images/searchButton.gif", :type => "image", :value => "GO"}/
            - @categories.each do |cat|
              =render :partial=>"categories/category_job", :locals=>{:category=>cat, :selected=>@selected_category}
        =yield
        .clear
      #footerOuter
        #footer
          #footerInner
            .browse.startups
              %h4
                %a{:href => "#"} Helper's Hub
              %p Proin at eros non eros adipiscing mollis. Donec semper turpis sed diam. Sed consequat ligula nec tortor. Integer eget sem. Register as a volunteer.
              %a.footerbutton{:href => "#"} view start-up
            .browse.helpers
              %h4
                %a{:href => "#"} Fmondragon Creative Studio
              %p Proin at eros non eros adipiscing mollis. Donec semper turpis sed diam. Sed consequat ligula nec tortor. Integer eget sem. Register as a volunteer.
              %a.footerbutton{:href => "#"} view helper
            .browse.sponsors
              %h4
                %a{:href => "#"} ExcelerateLabs.com
              %p Proin at eros non eros adipiscing mollis. Donec semper turpis sed diam. Sed consequat ligula nec tortor. Integer eget sem. Register as a volunteer.
              %a.footerbutton{:href => "#"} view sponsor
    #copyrightOuter
      #copyright
        %a#fmondragon{:href => "http://www.fmondragon.com"} Fmondragon Creative Studio
        %a#dharana(href="http://dharanasoft.com" target="_blank" title="Built by Dharana Software") Built by Dharana Software
        %span Copyright © 2011 Helper's Hub. All rights reserved. | Privacy | PolicyAbout Our AdsSafety | Terms of Service | Copyright/IP Policy
    -if flash[:notice]
      #flash
        =flash[:notice]
        %span.dismiss
          %a(href="#" title="Click here to dismiss") x
    =javascript_include_tag "jquery.min.js", "rails.js","https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.js","application.js"
