!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head{:profile => "http://gmpg.org/xfn/11"}
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "noindex,nofollow", :name => "robots"}/
    %title Helper's Hub | Welcome
    =stylesheet_link_tag "font","askit/style", "formtastic", "formtastic_changes", "pagenavi-css.css", "custom.css"
    =stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/themes/base/jquery-ui.css"
    /[if lt IE 7]
      =stylesheet_link_tag "askit/ie6style"
      :javascript
        DD_belatedPNG.fix('img#logo, p#slogan, #menu, #top-overlay, #featured-overlay, span.overlay, .entry-content p.meta-info, #controllers span#right-arrow, #controllers span#left-arrow, #footer-content, #footer');
    /[if IE 7]
      =stylesheet_link_tag "askit/ie7style"
    /[if IE 8]
      =stylesheet_link_tag "askit/ie8style"
    :css
      .recentcomments a
      {
          display: inline !important;
          padding: 0 !important;
          margin: 0 !important;
      }
    =javascript_include_tag "cufon-yui.js", "League_Gothic_400.font.js"
  %body#home
    =render :partial => '/layouts/header'
    #content
      #right-shadow
        #top-shadow
        .container.clearfix
          =yield
        .clear
        / end .container
      / end #right-shadow
    / end #content
    =render :partial => '/layouts/footer'
    -if flash[:notice]
      #flash
        =flash[:notice]
        %span.dismiss
          %a(href="#" title="Click here to dismiss") x
    =javascript_include_tag "l10n.js","DD_belatedPNG_0.0.8a-min.js", "jquery.min.js", "rails.js","askit.js", "superfish.js", "application.js"